/* UserDashboard.css */

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Allows items to wrap to the next line on smaller screens */
  }
  
  .details{
    padding: 0;
  }
  .details h3{
    letter-spacing: 10px;
  }
  
  /* Adjust styling as needed */
  #topNav{
    background-color: #2A2F4F;
    color:white;
    font-style: none;
}