.card {
  max-width: 500px; /* Adjusted width */
  margin: auto;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 20px;
}

.card-title {
  background-color: #2A2F4F;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1.5rem;
  margin-top: 25px;
}

.btn {
  cursor: pointer;
}

.btn-primary {
  background-color: #917FB3;
  color: #fff;
  margin-right: 5px;
  margin-left:auto;
}

.btn-primary:hover{
  background-color: #2A2F4F;
}

.btn-secondary {
  background-color: #917FB3;
  color: #fff;
  margin-left:5px;
  margin-right:5px;
}

.btn-secondary:hover{
  background-color: #2A2F4F;
  color:#fff;
}


.btn-info {
  background-color: #917FB3;
  color: #fff;
  margin-left: 5px;
  margin-right:auto;
}

.btn-info:hover{
  background-color: #2A2F4F;
}

.btn-link {
  color: #007bff;
  text-decoration: none;
}

.btn-link:hover {
  text-decoration: underline;
}
